.DisplayFooter footer {
    color: red;
    font-size: 50px;
    padding-top: 100px;
}

.DisplayFooter button{
    font-size: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.Display input {
    width: 20%;
    height: 48px;
    font-size: 40px;
    padding: 20px;
    text-align: center;
}

.Display span input {
    text-align: left;
}